
@import '~office-ui-fabric-react/dist/sass/References.scss';
:global(.spin) {
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@-moz-keyframes spin{
    0%,
    50%,
    100%{
        -moz-transform: rotate(0deg);
    }
    25%{
        -moz-transform: rotate(-0.5deg);
    }
    75%{
        -moz-transform: rotate(0.5deg);
    }
}
@-webkit-keyframes spin {
    0%,
    50%,
    100%{
        -webkit-transform: rotate(0deg);
    }
    25%{
        -webkit-transform: rotate(-0.5deg);
    }
    75%{
        -webkit-transform: rotate(0.5deg);
    }
}

@keyframes spin {
    0%,
    50%,
    100%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25%{
        -webkit-transform: rotate(-0.5deg);
        transform: rotate(-0.5deg);
    }
    75%{
        -webkit-transform: rotate(0.5deg);
        transform: rotate(0.5deg);
    }
}
